/****
  A
****/

/****
  B
****/

/****
  C
****/

/****
  D
****/

/****
  E
****/

/****
  F
****/

/****
  G
****/

/****
  H
****/

/****
  I
****/

/****
  J
****/

/****
  L
****/

/****
  M
****/

/****
  N
****/

/****
  O
****/

/****
  P
****/

/****
  R
****/

/****
  S
****/

/****
  T
****/

/****
  U
****/

/****
  W
****/


/****
 MEDIA QUERIES
****/
@media (min-width: 1200px){

}
@media (min-width: 992px) and (max-width: 1199px) {

}
@media (min-width: 768px) and (max-width: 991px) {

}
@media (max-width: 767px) {

}
@media (max-width: 480px) {

}
@media print {

}
@page {

}
