/****
  A
****/
* {
	box-sizing: inherit;
}

#about-covid em {
	font-style: italic !important;
}
#about-covid h2 {
	color: #1e1e1e;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}
#about-covid h3 {
	color: #1e1e1e;
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 10px;
}
#about-covid li {
	display: list-item;
	list-style: disc;
	margin-left: 15px;
}
#about-covid p {
	margin-bottom: 10px;
}
#about-covid strong {
	font-weight: bold !important;
}
#about-covid ul {
	display: block;
	list-style: disc;
	margin-bottom: 15px;
}

#about-us h2 {
	color: #1e1e1e;
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}
#about-us h3 {
	color: #1e1e1e;
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 10px;
}
#about-us p {
	margin-bottom: 10px;
}

#agent-detail {
	box-sizing: border-box;
}
#agent-detail address {
	margin-bottom: 20px;
	font-style: normal;
	line-height: 1.42857;
}
#agent-detail .agent-social {
	width: 200px;
}
#agent-detail h3 {
	color: #1e1e1e;
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 20px;
}
#agent-detail label {
	color: #1e1e1e;
	font-weight: normal;
}
#agent-detail strong {
	color: #1e1e1e;
	font-weight: bold;
}
#agent-detail #map {
	height: 300px;
	width: 100%;
}

.agent-social {
	width: 200px;
}
.agent-social #social-icons {
	font-size: 32px;
	text-align: left;
	margin-left: 20px;
	margin-right: 0px;
}
.agent-social #social-icons i {
	width: 50px;
	height: 50px;
	color: white;
	background-color: #D2000A;
	margin-bottom: 5px;
	border-radius: 10px;
}
.agent-social #social-icons i:hover {
	background-color: #1e1e1e !important;
}
.agent-social #social-icons i.fa-instagram {
	background-color: #A59179;
	padding: 10px 0px 0px 10px;
}
.agent-social #social-icons i.fa-facebook {
	background-color: #3664A2;
	padding: 10px 0px 0px 15px;
}
.agent-social #social-icons i.fa-twitter {
	background-color: #2EACF6;
	padding: 10px 0px 0px 10px;
}
.agent-social #social-icons i.fa-google-plus {
	background-color: #D23337;
	padding: 10px 0px 0px 10px;
}
.agent-social #social-icons i.fa-linkedin {
	background-color: #007BB6;
	padding: 10px 0px 0px 11px;
}
.agent-social #social-icons i.fa-youtube {
	background-color: #FF3334;
	padding: 10px 0px 0px 10px;
}
.agent-social #social-icons i.fa-pinterest {
	background-color: #AF0000;
	padding: 10px 0px 0px 10px;
}
.agent-social #social-icons i.fa-instagram {
	background-color: #A59179;
	padding: 10px 0px 0px 10px;
}
.agent-social #social-icons.list-inline > li {
	padding: 0px;
}

/****
  B
****/
.benefits {
	position: relative;
	z-index: 10;
	margin-top: -80px !important;
	font-size: 0px;
	text-align: center;
}
.benefits .box-link {
	color: #fff;
	text-decoration: none;
}
.benefits li {
	width: 24%;
	margin: 0px 2px;
}
.benefits .pic {
	position: relative;
	height: 72px;
}
.benefits .pic i {
	display: block;
	font-size: 64px;
	line-height: 72px;
	text-align: center;
	text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.15);
	text-decoration: none;
	color: #FFF;
	padding-top: 10px;
}

#benefits-management {

}
#benefits-management ul li {
	position: relative;
	margin-top: 10px;
	padding-left: 24px;
	line-height: 22px;
}
#benefits-management ul li::before {
	background: #D2000A none repeat scroll 0% 0%;
	content: "";
	position: absolute;
	top: 1px;
	left: 0px;
	width: 19px;
	height: 19px;
	font: 14px/20px FontAwesome;
	text-align: center;
	color: #FFF;
}
#benefits-management ul li:first-child {
	margin-top: 0px;
}

.block {
	padding-left: 0px;
	padding-right: 0px;
}
.block-left {
	padding-left: 0px;
}
.block-right {
	padding-right: 0px;
}
/****
  C
****/
.contact-details {
	margin-top: 15px;
}
.contact-details .contact-icon {
	width: 30px;
	float: left;
	color: #000;
	text-align: center;
	margin-bottom: 10px;
}
.contact-details .contact-label {
	width: 80px;
	float: left;
	margin-bottom: 10px;
}
.contact-details .contact-row {
	font-size: 14px;
	clear: both;
}
.contact-details .contact-text {
	float: left;
	margin-bottom: 10px;
}

.content-container {

}

.content-container h1 {
	margin-bottom: 10px;
	font-size: 28px;
	line-height: 30px;
	font-weight: 700;
}


.content-container h2 {
	margin-bottom: 10px;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
}
.content-container p {
	font-size: 14px;
	line-height: 19px;
}
.content-container .more {
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 31px;
	height: 31px;
	margin-left: -15px;
	border: 4px solid #fff;
	border-bottom: 0;
}
.content-container .more:after,
.content-container .more:before {
	content: '';
	position: absolute;
	top: 7px;
	left: 13px;
	width: 5px;
	height: 17px;
	background: #fff;
}

.content-container .more:before {
	top: 13px;
	left: 7px;
	width: 17px;
	height: 5px;
}

.copyrights {
	background-color: #1e1e1e;
}
.copyrights a {
	color: #d2000a;
}
.copyrights a:hover {
	color: #FFF;
}

/****
  D
****/
.display-hide {
	display: none;
}

/****
  E
****/
.error {
	color: #D2000A;
	font-size: 12px;
	font-style: italic;
	margin-bottom: 5px;
}
/****
  F
****/

/****
  G
****/
#get-started {
	margin-top: 15px;
}

/****
  H
****/

/****
  I
****/
#footer-logo {
	width: 100%;
	max-width: 100px;
	height: auto;
}

.form-group input[type="url"],
.form-group input[type="tel"],
.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group select,
.form-group textarea {
	width: 100%;
	height: 40px;
	color: #333;
	background: #FFF none repeat scroll 0% 0%;
	border: 1px solid #888;
	border-radius: 0px;
	font-size: 14px;
	line-height: 20px;
	box-sizing: border-box;
	margin-bottom: 5px;
	padding: 9px 10px;
}

.form-group textarea {
	height: auto;
}

.form-group input:focus,
.form-group textarea:focus {
	border: 1px solid #1e1e1e;
	-webkit-box-shadow: 0px 0px 4px rgba(255, 0, 0, 0.5);
	-moz-box-shadow:  0px 0px 4px rgba(255, 0, 0, 0.5);
	box-shadow:  0px 0px 4px rgba(255, 0, 0, 0.5);
}

.v input::-webkit-input-placeholder,
.form-group textarea::-webkit-input-placeholder {
	color:    #666;
	opacity: 0.8;
}

.form-group input:-moz-placeholder,
.form-group textarea:-moz-placeholder {
	color:    #666;
	opacity: 0.8;
}

.form-group input::-moz-placeholder,
.form-group textarea::-moz-placeholder {
	color:    #666;
	opacity: 0.8;
}

.form-group input:-ms-input-placeholder,
.form-group textarea:-ms-input-placeholder {
	color:    #666;
	opacity: 0.8;
}

/****
  J
****/

/****
  L
****/
.location li i {
	background: #D2000A none repeat scroll 0% 0%;
}
.location nav a {
	border: 3px solid #D2000A;
	color: #D2000A;
}
.location nav a:hover {
	border: 3px solid #FFF;
	color: #FFF;

}

.logo {
	margin-left: -585px !important;
}
.logo div {
	width: auto;
	height: 100%;
	padding: 21px 0px;
	box-sizing: border-box;
}

/****
  M
****/
.main-nav li:hover > a  {
	/*-webkit-box-shadow: 0 0 0 rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0 0 0 rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 0 rgba(255, 255, 255, 0.5);*/
}

/****
  N
****/
.no-link:hover {
	text-decoration: none;
}
/****
  O
****/

/****
  P
****/

.page-footer {
	color: #FFF;
	background-color: #1e1e1e;
	box-sizing: border-box;
	padding-top: 15px;
}
.page-footer a:hover {
	color: #fff;
}
.page-footer h3 {
	color: #d2000a;
	font-size: 1.2em;
	font-weight: bold;
	margin-bottom: 5px;
}
.page-footer #social-icons {
	font-size: 28px;
	text-align: left;
	margin-left: 20px;
	margin-right: 0px;
}
.page-footer #social-icons i {
	width: 40px;
	height: 40px;
	color: white;
	background-color: #000;
	border: 2px solid white;
	margin-bottom: 5px;
	border-radius: 0px;
}
.page-footer #social-icons i:hover {
	background-color: #D2000A !important;
}
.page-footer #social-icons i.fa-instagram {
	background-color: #A59179;
	padding: 5px 0px 0px 5px;
}
.page-footer #social-icons i.fa-facebook {
	background-color: #3664A2;
	padding: 5px 0px 0px 12px;
}
.page-footer #social-icons i.fa-twitter {
	background-color: #2EACF6;
	padding: 5px 0px 0px 5px;
}
.page-footer #social-icons i.fa-google-plus {
	background-color: #D23337;
	padding: 5px 0px 0px 5px;
}
.page-footer #social-icons i.fa-linkedin {
	background-color: #007BB6;
	padding: 5px 0px 0px 5px;
}
.page-footer #social-icons i.fa-youtube {
	background-color: #FF3334;
	padding: 5px 0px 0px 5px;
}
.page-footer #social-icons i.fa-pinterest {
	background-color: #AF0000;
	padding: 5px 0px 0px 5px;
}
.page-footer #social-icons i.fa-instagram {
	background-color: #A59179;
	padding: 5px 0px 0px 5px;
}
.page-footer #social-icons.list-inline > li {
	padding: 0px;
}

.page-footer-base {
	height: 30px;
	background: #0F0F0F;
}

.page-header {
	height: 112px;
}

.page-home .page-content {

}
.page-home .callout .icon {
	color: #d2000a;
	background: none;
 }
.page-home .callout .icon::before {
	background: none;
}
.page-home .content-container h2 {
	color: #d2000a;
}

.page-info .slider-callout input[type="url"],
.page-info .slider-callout input[type="tel"],
.page-info .slider-callout input[type="text"],
.page-info .slider-callout input[type="email"],
.page-info .slider-callout input[type="password"],
.page-info .slider-callout select,
.page-info .slider-callout textarea {
	width: 100%;
}
.page-info .page-header.main-page::after {
	background: none;
}

.page-services .page-content {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.page-services .page-content h3 {
	color: #1e1e1e;
	font-size: 20px;
	line-height: 30px;
	font-weight: normal;
	margin-top: 15px;
	margin-bottom: 10px;
}
.page-services .page-content img {
	width: 100%;
	height: auto;
}
.page-services  .page-content ul li {
	position: relative;
	margin-top: 10px;
	padding-left: 24px;
	line-height: 22px;
}
.page-services  .page-content ul li::before {
	background: #D2000A none repeat scroll 0% 0%;
	content: "";
	position: absolute;
	top: 1px;
	left: 0px;
	width: 19px;
	height: 19px;
	font: 14px/20px FontAwesome;
	text-align: center;
	color: #FFF;
}
.page-services  .page-content ul li:first-child {
	margin-top: 0px;
}

.page-team h2 {
	font-size: 30px;
}
.page-team h3 {
	font-size: 24px;
}

.page-tenants-portal {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.page-tenants-portal h2 {
	color: #d2000a;
	font-size: 24px;
	font-weight: bold;
}
.page-tenants-portal h3 {
	color: #d2000a;
	font-size: 20px;
	font-weight: bold;
}

.page-tenants-portal .page-content ul li {
	position: relative;
	margin-top: 10px;
	padding-left: 24px;
	line-height: 22px;
}
.page-tenants-portal .page-content ul li::before {
	background: #D2000A none repeat scroll 0% 0%;
	content: "";
	position: absolute;
	top: 1px;
	left: 0px;
	width: 19px;
	height: 19px;
	font: 14px/20px FontAwesome;
	text-align: center;
	color: #FFF;
}
.page-tenants-portal .page-content ul li:first-child {
	margin-top: 0px;
}

/****
  Q
****/
#question-form {
	box-sizing: border-box;
	margin-top: 30px !important;
}
#question-form label {
	color: #1e1e1e;
}

.quick-search {
	text-align: right;
	margin-top: 0px;
	-o-transition: margin 0.3s;
	-ms-transition: margin 0.3s;
	-moz-transition: margin 0.3s;
	-webkit-transition: margin 0.3s;
}
.quick-search fieldset {
	width: 1170px;
	height: 35px;
	position: relative;
	margin: 0 auto;
	padding-top: 5px;
	z-index: 10;
}
.quick-search .header-divider {
	color: white;
	font-size: 18px;
	font-weight: bold;
	border-right: 1px solid white;
	padding-left: 20px;
}
.quick-search .header-phone {
	color: white;
	font-size: 18px;
	font-weight: bold;
	padding-left: 20px;
}
.quick-search .header-login a {
	color: white;
	font-size: 14px;
	font-weight: normal;
	padding-left: 10px;
}
.quick-search .header-login a:hover {
	color: #d2000a;
}
.quick-search .switcher {
	position: absolute;
	top: 100%;
	right: 0;
	width: 120px;
	height: 70px;
}
.quick-search-visible {
	margin-top: 0 !important;
}

/****
  R
****/

/****
  S
****/
.second-sticky.sticky-container {
	background: rgba(255, 255, 255, 0.95) none repeat scroll 0% 0%;
}

section {
	position: relative;
	margin: 0px 0px 15px !important;
}

.services {
	text-align: center;
}
.services h2 {
	color: #D2000A;
	font-size: 24px;
	line-height: 30px;
	font-weight: 700;
	margin-bottom: 10px;
}
.services h3 {
	font-size: 1.3em;
	line-height: 30px;
	font-weight: 700;
	margin-bottom: 10px;
}
.services i {
	color: #D2000A;
	font-size: 3em;
}

.site-links {
	margin: 0 10px;
	text-align: center;
}
.site-links a {
	color: #FF2B35;
}
.site-links a:hover {
	color: #FFF;
}
.site-links li {
	margin-top: 5px;
	padding-top: 5px;
	/*border-top: 1px solid rgba(255,255,255,0.2);*/
}
.site-links li:first-child {
	margin-top: 0;
	padding-top: 0;
	border-top: 0;
}
.site-links li:first-child {
	padding-top: 0;
}
.site-links li:first-child:after {
	display: none;
}
.site-links .widget-icon {
	background-image: url("../img/red/recent-posts.png");
}

.slider-callout {
	position: absolute;
	top: 200px;
	left: 50px;
	box-sizing: border-box;
	z-index: 99;
}
.slider-callout .button{
	height: 2.44em;
	height: 50px;
	display: inline-block;
	vertical-align: top;
	vertical-align: middle;
	border-width: 3px;
	border-style: solid;
	font-size: 1.2em;
	line-height: 2.44em;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-ms-box-sizing:border-box;
	box-sizing:border-box;
	white-space:nowrap;
	overflow:hidden;
	margin: 0.2em 0.5em 0em;
	padding:0 0.61em !important;
}
.slider-callout input[type="url"],
.slider-callout input[type="tel"],
.slider-callout input[type="text"],
.slider-callout input[type="email"],
.slider-callout input[type="password"],
.slider-callout select,
.slider-callout textarea {
	width: auto;
	min-width: 210px;
}
.slider-callout .intro {
	font-size:15px;
	position:relative;
	width: 31em;
	padding: 2.33em 1.25em 1.25em;
	background: rgba(255,255,255,0.75);
	text-align: center;
}
.slider-callout .intro .title {
	color: #D2000A;
	font-size: 2em;
	line-height: 0.96em;
	font-weight: 700;
	text-shadow: 0 1px 0 #fff;
}
.slider-callout .intro .title span {
	font-weight: 400;
}
.slider-callout .intro p:not(.title) {
	color: #1e1e1e;
	font-size: 1em;
	line-height: 1.35em;
	text-shadow: 0 1px 0 #fff;
	margin-top: 0.585em;
	margin-bottom: 0.585em;
}
.slider-callout .intro .icon {
	position: absolute;
	top: -0.5em;
	left: 50%;
	display: block;
	color: #D2000A;
	margin-left: -0.5em;
	font-size: 3.2em;
	line-height: 1em;
}

/****
  T
****/
.team-image img {
	width: 100%;
	max-width: 400px;
	height: auto;
}

.team-item {
	min-height: 325px;
}
.team-item .team-name {
	font-size: 16px;
	margin: 5px 0px 5px;
}
.team-item .team-phone {
	font-size: 14px;
	margin: 5px 0px 15px;
}
.team-item .team-title {
	font-size: 12px;
	margin: 5px 0px 5px;
}

.top-link {
	background: #d2000a none repeat scroll 0% 0%;
}


.testimonials .test{
	margin-bottom: 1rem;
	padding: 90px 25px 25px 25px;
	background-color: white;
	border: 3px solid #D2000A;
}
.testimonials .test:before {
  position: absolute;
  width: 50px;
  height: 50px;
  font: 700 72px/82px Arial;
  text-align: center;
  color: #fff;
  content: '\201d';
  top: 25px;
  left: 25px;

  background: #1E1E1E;
}
.testimonials .testimonial-author{
	font-weight:bold;
	font-size: 18px;
	margin-top: 10px;
	color: #1E1E1E
}

.testimonials h2 {
	color: #D2000A;
	font-size: 30px;
	line-height: 30px;
	font-weight: 700;
	margin-bottom: 50px;
	text-align: center;
}


/****
  U
****/

/****
  V
****/
#vendors {
	margin-top: 30px !important;
}

.vendor-box {
	width: 100%;
	min-height: 300px;
	text-align: center;
}

.vendor-logo img {
	width: 100%;
	max-width: 250px;
	height: auto;
}

.vendor-name {
	font-size: 16px;
	font-weight: bold;
}
/****
  W
****/
.widget-alt .fa-external-link,
.widget-alt .fa-crosshairs,
.widget-alt .fa-exclamation-circle {
	font-size: 72px;
	padding: 15px;
}

.wpb_wrapper p {
	margin-bottom: 10px;
}

.why-choose-us h2 {
	color: #D2000A;
	font-size: 28px;
	line-height: 30px;
	font-weight: 700;
	margin-bottom: 2rem;
}
.why-choose-us .why{
	margin-bottom: 2rem;
}
.why-choose-us .why h3{
	font-weight: 700;
	margin-bottom:1rem;
	font-size: 18px;
	color: #1e1e1e;
}

.article{
	line-height: 1.4;
}
.article .inner-content{
}
.article h2{
	font-size: 2.5rem;
	color: black;
}
.article h3{
	font-size: 2rem;
	color: black;
}
.article img{
	height:auto;
	max-width: 100%;	
}

.article p{
	font-size: 1.2em;
	line-height: 1.7;	
	margin-bottom: 1.7rem;
}

.bloglist .inner-content{
	padding: 2rem;
	background-color: #f3f3f3;
}
/****
 MEDIA QUERIES
****/
@media (min-width: 1200px){

}
@media (min-width: 992px) and (max-width: 1199px) {
	.logo {
		margin-left: -470px !important;
	}
	.logo div {
		width: auto;
		height: 100%;
		padding: 25px 0px;
		box-sizing: border-box;
	}

	.quick-search fieldset {
		width: 940px;
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.logo {
		margin-left: -369px !important;
	}
	.logo div {
		width: auto;
		height: 100%;
		padding: 32px 0px;
		box-sizing: border-box;
	}

	.quick-search fieldset {
		width: 738px;
	}
}
@media (max-width: 767px) {
	.benefits li {
		width: 49%;
	}

	.logo {
		margin-left: 0px !important;
	}
	.logo div {
		width: auto;
		height: 100%;
		padding: 0px;
		box-sizing: border-box;
	}

	.quick-search fieldset {
		width: auto;
		margin: 0px 20px;
	}
}
@media (max-width: 480px) {
	.benefits li {
		width: 100%;
	}

	.logo {
		margin-left: 0px !important;
	}
	.logo div {
		width: auto;
		height: 100%;
		padding: 0px;
		box-sizing: border-box;
	}

	.quick-search {
		text-align: center;
	}
	.quick-search .header-divider {
		color: #FFF;
		font-size: 18px;
		font-weight: bold;
		border-right: 1px solid #FFF;
		padding-left: 6px;
	}
	.quick-search .header-phone {
		color: #FFF;
		font-size: 16px;
		font-weight: bold;
		padding-left: 6px;
	}
}
@media print {

}
@page {

}


