/****
  A
****/
a {
	/*color: #4BBBD7;*/
	color: #A1C140;
}
a:hover {
	/*color: #6DDDF9;*/
	color: #c2e361;
	text-decoration: none;
}
/****
  B
****/
.block {
	padding-left: 0px;
	padding-right: 0px;
}

.blue-comingsoon.btn {
	color: #FFF;
	background-color: #4BBBD7;
	border: 1px solid #FFF;
}
.blue-comingsoon.btn.spinner-up,
.blue-comingsoon.btn.spinner-down {
	border: none;
}

#bombbomb_verify_note {
	font-style: italic;
	padding: 0px 10px 10px;
}

/****
  C
****/

/****
  D
****/
.display-hide {
	display: none !important;
}
/****
  E
****/

/****
  F
****/
.fancyboxTemplates {
	width: 95% !important;
}
.fancyboxTemplates .fancybox-inner {
	width: 100% !important;
	height: auto !important;
}

.feeds .lead {
	font-size: 13px;
	font-weight: initial;
}

.fileinput-new.thumbnail img,
.fileinput-preview.thumbnail img {
	background: url('/includes/img/bg_boxes.png') repeat;
}

/****
  G
****/
.green-lilahmedia.btn {
	color: #FFF;
	background-color: #A1C140;
	border: 1px solid #FFF;
}
.green-lilahmedia.btn.spinner-up,
.green-lilahmedia.btn.spinner-down {
	border: none;
}

/****
  H
****/

/****
  I
****/

/****
  J
****/

/****
  K
****/

/****
  L
****/
.login .logo img {
	background: #FFF;
}
.login .content .form-actions {
	padding: 0px 30px 50px;
}

/****
  M
****/
.modal-backdrop {
	display: none;
}

/****
  N
****/

/****
  O
****/

/****
  P
****/
.page-header.navbar .page-logo {
	width: 350px;
	padding-top: 10px;
}
.page-header .page-logo a {
	text-decoration: none;
}
.page-header .page-logo .logo-text {
	font-family: 'Lora', serif;
	font-size: 14px;
	font-weight: normal;
	padding-top: 35px;
}
.page-header .page-logo .logo-text-company {
	font-size: 18px;
	color: white;
}
.page-header .page-logo .logo-text-raised {
	/*font-family: 'Lora', serif;*/
	font-size: 18px;
	font-weight: normal;
}

.portlet {
	/*border-radius: 4px !important;*/
}
.portlet.box.blue-comingsoon {
	border-right: 1px solid #4BBBD7;
	border-width: 0px 1px 1px;
	border-style: none solid solid;
	border-color: #4BBBD7;
	-moz-use-text-color:  #4BBBD7;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
}
.portlet.box.blue-comingsoon > .portlet-title > .caption > i {
	color: #FFF;
}
.portlet.box.blue-comingsoon > .portlet-title > .actions .btn-default {
	background: none repeat scroll 0% 0% transparent !important;
	border: 1px solid #D3EFF5;
	color: #D3EFF5;
}
.portlet.box.blue-comingsoon > .portlet-title > .actions .btn-default:hover {
	border: 1px solid #fff;
	color: #fff;
}
.portlet.box.green-lilahmedia {
	border-right: 1px solid #A1C140;
	border-width: 0px 1px 1px;
	border-style: none solid solid;
	border-color: #A1C140;
	-moz-use-text-color:  #A1C140;
	-moz-border-top-colors: none;
	-moz-border-right-colors: none;
	-moz-border-bottom-colors: none;
	-moz-border-left-colors: none;
	border-image: none;
}
.portlet.box.green-lilahmedia > .portlet-title > .caption > i {
	color: #FFF;
}
.portlet.box.green-lilahmedia > .portlet-title > .actions .btn-default {
	background: none repeat scroll 0% 0% transparent !important;
	border: 1px solid #DFEABF;
	color: #DFEABF;
}
.portlet.box.green-lilahmedia > .portlet-title > .actions .btn-default:hover {
	border: 1px solid #fff;
	color: #fff;
}
.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	/*border-radius: 0px 0px 4px 4px !important;*/
}
.portlet .portlet-title {
	/*border-radius: 4px 4px 0px 0px !important;*/
	cursor: pointer;
}
.portlet > .portlet-body.blue-comingsoon, .portlet.blue-comingsoon {
	 background-color: #4BBBD7;
 }
.portlet > .portlet-body.green-lilahmedia, .portlet.green-lilahmedia {
	background-color: #A1C140;
}

.portlet-inner {
	padding: 10px;
}
.portlet-inner h4 {
	margin: 30px 0px 25px;
	padding-bottom: 5px;
	border-bottom: 1px solid #EEE;
}
.portlet-inner h4:first-child {
	margin-top: 5px;
}
.portlet-inner h4 span {

}
.portlet-inner img {
	margin: 0 10px;
}
.portlet-inner img:first-child {
	margin-left: 20px;
}
#prop_floorplans .slide-thumb{
	width: 100%;
	height: auto;
}
#prop_floorplans .thumbnail > img {
	width: 100%;
	height: auto;
}
#prop_pictures .slide-thumb{
	width: 100%;
	height: auto;
}
#prop_pictures .thumbnail > img {
	width: 100%;
	height: auto;
}

/****
  Q
****/

/****
  R
****/

/****
  S
****/
#slider_pictures .slide-thumb{
	width: 100%;
	height: auto;
}
/****
  T
****/
#test-form button {
	width: 200px;
}

/****
  U
****/

/****
  V
****/
#vendor_list img {
	width: 100%;
	height: auto;
}

.verify-success {
	color: green;
}
.verify-warning {
	color: red;
}

/****
  W
****/

/****
  X
****/

/****
  Y
****/

/****
  Z
****/
